DB_USER=tu_usuario_aqui_db
DB_PASSWORD=tu_contraseña_aqui_db
DB_HOST=tu_host_aqui_db
DB_PORT=tu_puerto_aqui_db
DB_NAME=rehab_db

VITE_API_URL_DEVELOPMENT=tu_url_aqui_api_development
VITE_API_URL_PRODUCTION=tu_url_aqui_api_production
ALLOWED_ORIGINS=tu_origenes_permitidos_aqui

SECRET_KEY=tu_clave_secreta_aqui
ALGORITHM=alogoritmo_aqui