# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Temporal files and caches
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Web 
frontend-web/node_modules/
frontend-web/dist/
frontend-web/dist-ssr/
frontend-web/*.local

.DS_Store
